/* CSS for Desktop */
.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-contact {
    display: flex;
    justify-content: left;
    width: 100%;
}

.col-contact {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.col-contact h1 {
    text-align: right;
} 
.col-contact h4 {
    text-align: left;
}

.contact-bg {

    background-size: 60%;
    background-repeat: no-repeat;
}

.col-contact .phone, 
.col-contact .email, 
.col-contact .address {
    padding:20px;
    margin-bottom: 1rem;
    width: 50%;
    text-align: left;
    margin-left: 40%;
    color: #551F0C;
    /* background: linear-gradient(to right, #551F0C, #551f0c0e, #fff); */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.12);
}

.form-bg form {
    width: 60%;
    margin-top: -20px;
}

.form-bg input {
    height: 40px;
}

.form-bg form button {
    margin-top: 1.5rem;
    width: 50%;
}

input, textarea {
    width: 20%;
    box-sizing: border-box;
}

.workingHours {
    border: 1px solid #F7B585;
    padding: 20px 50px;
    width: 100%;
    margin: 40px 0;
}

.workingHours h1 {
    color: #551F0C;
}

/* CSS for Tablet */
@media (min-width: 601px) and (max-width: 1024px)  {
    .row-contact {
        width: 100%;
    }
    .form-bg form input{
        width: 300px;
    }
    .form-bg form textarea, input{
        width: 300px;
        box-sizing: border-box;
        border: none;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.12);
    }
    .form-bg form button {
        margin-right: auto;
        margin-left: 60px;
    }

    .col-contact .phone, 
    .col-contact .email, 
    .col-contact .address {
    padding:20px;
    margin-bottom: 1rem;
    width: 70%;
    text-align: left;
    margin-left: 20%;
    color: #551F0C;
    background: linear-gradient(to right, #96C301, #f9ffe3, #fff);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.12);
}
}

/* CSS for Mobile */
@media (max-width: 480px) {
    .row-contact {
        flex-direction: column;
    }

    .col-contact h1 {
        text-align: left;
    }

    .form-bg form {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .col-contact .phone, 
    .col-contact .email, 
    .col-contact .address {
        padding:20px;
        margin-bottom: 1rem;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .form-bg form textarea, input {
        width: 90%;
    }
}


