/* CSS Styles */
.serveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.services .row-serve.button-container{
    justify-content: center;
}

.row-serve {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.serve-text {
    text-align: center;
    align-items: center;
    justify-content: center;
    width:60%;
    /* margin: 0 auto; */
    margin-bottom: 80px;
}

.serve-text p {
    line-height: 30px;
    text-align: center;
}

.column-serve {
    flex: 1;
    text-align: left;
}


.column-serve img {
    filter: contrast(1.2) saturate(1.5);
    flex: 1;
    text-align: right;
    width: 80%;
}

.row-serve .button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    color: #551F0C;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.row-serve .button.active {
    background-color: #F7B585;
    border-bottom: 0.5em solid #f9f9f9;
    color: #fff;
}

.row-serve button:hover{
    background-color: transparent;
}

.row-servContent {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 0;
    margin-bottom: 80px;
}

.righText {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 20px;
    border-radius: 7px;
}

.righText h2   {
    font-size: 20px;
    color: #5d1e07;
}

.righText p  {
    font-size: 14px;
    line-height: 25px;
}

.row-servContent img {
    filter: contrast(1.2) saturate(1.5);
    width: 120%;
    border-radius: 7px;
}

.row-appdev {
    display: flex;
    flex-direction: row;
}

.Col-appdev, .col-appdev {
    flex: 1;
    padding: 30px 0;
}

.col-appdev img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding: 40px 15px;
    filter: contrast(1.2) saturate(1.5);
}

@media screen and (max-width: 600px) {
    
    .serve-text {
        text-align: left;
        align-items: center;
        justify-content: center;
        width:90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .serve-text h2,
    .serve-text p {
        text-align: left;
    }
    .services .row-serve.button-container{
        justify-content: center;
        top: 25%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .row-servContent {
        display: block;
        width: 90%;
        margin: 0 auto;
        gap: 0;
        margin-bottom: 80px;
    }
    .row-servContent img {
        width:100%;
        filter: contrast(1.2) saturate(1.5);
    }
    .centerCallBtn {
        background-color: #F7B585;
        width: 100%;
    }
    .row-appdev {
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .col-appdev img {
        padding: 0;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    
    .serve-text {
        text-align: center;
        align-items: center;
        justify-content: center;
        width:100%;
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 5px 15px;
    }
    .serve-text h2, p {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .services .row-serve.button-container{
        justify-content: center;
        top: 25%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .row-servContent {
        width: 100%;
        margin: 0 auto;
        gap: 0;
        margin-bottom: 80px;
    }
    .row-servContent img {
        width: 90%;
        filter: contrast(1.2) saturate(1.5);
    }
    .centerCallBtn {
        background-color: #D9A998;
        width: 100%;
    }
    .row-appdev {
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .col-appdev img {
        padding: 0;
        height: auto;
    }
}

