.post-page .post-header {
        display: block;
    }
    
    .post-page .post-content {
        display: block;
    }
    
    .post-page .post-content img {
        display: block;
    }
    
    .post-page .post-content p {
        display: block;
    }
