    /* TeamCarousel.css */
    .carousel {
        overflow: hidden;
        width: 100%;
    }
    
    .carouselTrack {
        display: flex;
        animation: scroll 60s linear infinite;
    }
    
    .carouselCard {
        flex: 0 0 auto;
        width: 200px;
        height: 300px;
        margin-right: 1rem;
        padding: 1rem;
        border: 1px solid #551f0c;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .carouselCard img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .carouselTrack h2{
        font-size: 16px;
    }
        .carouselCard P {
        text-align: center;
    }
    
    @keyframes scroll {
        0% { transform: translateX(0); }
        50% { transform: translateX(calc(-150px * 17)); }
        100% { transform: translateX(0); }
    }
    